

template_sources {
    merge = true   
}

libraries {
    terraform {

        infra_dir           = 'infrastructure'
        tf_vars             = 'terraform_tfvars'
        cloud_creds         = 'aws_creds'
        is_destroy          = false
        install_tools       = true
        softFail            = false
    }
}

